body {
  margin: 0;
  overflow: hidden;
  background-color: #111;
  font-family: "Sixtyfour", sans-serif;
  color: white;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  text-align: center;
}
#hell {
  color: #c00;
  width: 80%;
  font-size: 2vh;
  border-top: 1px solid white;
  padding-top: 1em;
  margin-top: 1em;
  border-bottom: 1px solid white;
  padding-bottom: 1em;
  margin-bottom: 1em;
  animation: flame 5.5s infinite ease-in-out;
}

@keyframes flame {
  0%,
  100% {
    color: red;
    text-shadow:
      0 0 8px rgba(255, 0, 0, 1),
      0 0 16px rgba(255, 100, 0, 0.8),
      0 0 24px rgba(255, 200, 0, 0.6);
  }
  50% {
    color: orange;
    text-shadow:
      0 0 12px rgba(255, 80, 0, 1),
      0 0 24px rgba(255, 160, 0, 0.8),
      0 0 36px rgba(255, 220, 0, 0.6);
  }
}
#transitionOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}
#startModal {
  font-size: 3vw;
}
#startModal h1 {
  font-size: 4vh;
  margin-bottom: 2vh;
  text-shadow: 3px 3px 6px #00aaff;
}
#startModal ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#startModal li {
  margin-bottom: 2vh;
}
#startModal .key {
  color: #00aaff;
}
#startModal .action {
  color: #ffffff;
}
#startModal .start-text {
  margin-top: 2vh;
  font-size: 3vw;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#gameOverOverlay {
  transform: translate(0, -25%);
  display: none;
  font-size: 8vw;
  text-shadow: 3px 3px 6px #ff0000;
}
#game-container canvas {
  display: none;
}
#game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: transform 0.05s ease-out;
}

#uiContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  font-size: 3vw;
  text-shadow: 2px 2px 4px #000;
}
#healthDisplay {
  color: #ff4444;
  font-size: 60%;
}
#killsDisplay {
  color: #44aaff;
  font-size: 60%;
}
#shotgunDisplay {
  color: #ffaa44;
  font-size: 30%;
  flex-basis: fit-content;
}
#cooldownContainer {
  width: 30vw;
  height: 2vw;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
#cooldownBar {
  width: 100%;
  height: 100%;
  background-color: #00aaff;
  transition: width 0.1s linear;
}

@media (max-width: 768px) and (orientation: portrait) {
  #startModal {
    transform: translate(0, -10%);
  }
}
